<div>
    <h2>Don't know where you left it?</h2>
    <p class="lead">Well, I'm not going to give it to you but you know who to call to get it reset.<br/>
        <small class="muted">(He can't read it because it's encrypted but he can email you a new one)</small>
    </p>
</div>
