<div class="span4">
	<div class="login-form">
		<h2>Please log in</h2>
		<form action="/login" class="form-horizontal" method="post">
			<div class="control-group">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-envelope"></i>
					</span>
					<input class="input-xlarge" name="login" placeholder="YourName@brukru.com" required="" type="email">
				</div>
			</div>
			<div class="control-group">
				<div class="input-prepend">
					<span class="add-on">
						<i class="icon-asterisk"></i>
					</span>
					<input class="input-xlarge" name="password" placeholder="Password" required="" type="password">
				</div>
			</div>
			<div class="control-group">
				<input class="btn btn-primary pull-right" type="submit" value="Log in">
			</div>
		</form>
		<div class="links">
			<span>
				<a href="/register">Register</a> - <a href="/forgot">Forgot password?</a>
			</span>
		</div>
	</div>
</div>