<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand">brukru</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					{% if admin? %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="/admin" id="admindrop" role="button">Administration<b class="caret"></b></a>
						<ul aria-labelledby="admindrop" class="dropdown-menu" role="menu">
							<li role="presentation"><a href="/admin/users" tabindex="-1">Users</a></li>
							<li role="presentation"><a href="/admin/caption/entries" tabindex="-1">Caption Entries</a></li>
						</ul>
					</li>
					{% endif %}
					<li><a href="/users">Users</a></li>
					<li><a href="/about">About</a></li>
				</ul>
				<div class="pull-right right-menu">
					<span class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i>
							&nbsp;{{nickname}}&nbsp;
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/profile">Profile</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
