body {
    /**/
    background-image: url("/img/backgrounds/escheresque_ste.png");
}

@media  (min-width: 768px) {
    #content {
        padding-top: 60px;
    }
}

.main-content {
    color: #fff;
}

footer {
    height: 60px;
    text-align: center;
}

footer p {
    padding-top: 20px;
}

.right-menu .dropdown-menu {
    left: auto;
    right: 0;
}

.login-form {
    width: 350px; 
    margin: 50px auto; 
    padding: 10px 40px 20px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #eee;
    background-color: #fff;
}

/* Large desktop */
/*@media (min-width: 1200px) {}*/
 
/* Portrait tablet to landscape and desktop */
/*@media (min-width: 768px) and (max-width: 979px) { ... }*/
 
/* Landscape phone to portrait tablet */
/*@media (max-width: 767px) { ... }*/


.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form .links {
    padding-top: 20px;
    text-align: center;
}

div.row-fluid.well {
    color: #000;
}

#list-users {
    background-color: #fff;
    color: #000;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    .login-form {
        width: 200px; 
    }

}