<div class="row-fluid">
    <h1>Admin - Reset Password</h1>
    <div id="reset-password" class="row-fluid well">
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Name:</strong>
            </div>
            <div class="span8">
                {{ name }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Email:</strong>
            </div>
            <div class="span8">
                {{ email }}
            </div>            
        </div>        
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>New password:</strong>
            </div>
            <div class="span8">
                {{ new-password }}
            </div>            
        </div>
    </div>
</div>