<div class="row-fluid">
    <h1>Admin - Users</h1>
    <table id="list-users" class="table table-hover table-bordered">
    <tr>
        <th class="hidden-phone">Nickname</th>
        <th class="hidden-phone">Name</th>
        <th>Last login</th>
        <th>Email</th>
        <th class="hidden-phone">Total Entries</th>
        <th class="hidden-phone">Average rank</th>
        {% if admin? %}
            <th>&nbsp;</th>
        {% endif %}
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="/profile/{{ user.id }}">{{ user.name }}</a></td>
        <td class="hidden-phone">{{ user.nickname }}</td>
        <td>{{ user.lastlogin|date:"yyyy-MM-dd HH:mm:ss" }}
        <td>{{ user.email }}</td>
        <td>{{ user.total-entries }}</td>
        <td>{{ user.avg-rank }}</td>
        {% if admin? %}
            <th>
                <form action="/admin/user/resetpassword" method="post">
                <input type="hidden" name="user-id" value="{{ user.id }}"/>
                <input type="submit" class="btn btn-info" value="Reset password"/>
                </form>
            </th>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</div>