<div id="errorAlert" class="alert alert-block alert-info fade in">
    <button class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">{{ heading }}</h4>
    <p>{{ message }}</p>
</div>