<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="keywords" content="brew crew awesome manly beer funny">
	<meta name="description" content="brukru: where men are awesome">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-fileupload.min.css" rel="stylesheet" type="text/css">
	<link href="/css/brukru.css" rel="stylesheet" type="text/css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
	{{nav-bar}}
	<div class="container-fluid" id="content">
		<div class="row-fluid">
			<div class="span1 hidden-phone">&nbsp; </div>
			<div class="span10 main-content">
			    {{content}}
			</div>
			<div class="span1 hidden-phone">&nbsp; </div>
		</div>
	</div>
	<script src="/js/head.load.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		head.js(
			"/js/jquery.min.js",
			"/js/jquery.ui.core.min.js",
			"/js/bootstrap.min.js",
			"/js/bootstrap-fileupload.min.js");
	</script>
</body>
</html>